@import '~js-datepicker/dist/datepicker.min.css';

:root {
    --topMargin: 40px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#projectContainer {
    display: grid;
    grid-template-columns: [first] 20% [second] 80% [third];
    grid-template-rows: [first] 100px [second] 1fr [third];
    height: 100vh;
    width: 100vw;
}

#topBar {
    grid-column: second / third;
    grid-row: first / second;
    background-color: aquamarine;
    min-height: 100px;
}

#sideBar {
    grid-column: first / second;
    grid-row: first / third;
    background-color: lightblue;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

#displaySection {
    grid-column: second / third;
    grid-row: second / third;
    min-width: 100%;
    min-height: 100%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

#topBar {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third];
    grid-template-rows: [first] 1fr [second] 1fr [third];
}

#listTitle {
    grid-row: second / third;
    grid-column: first / second;
    font-size: xx-large;
    font-weight: bold;
    margin: 10px;
}

#topBarListCount {
    grid-area: second / second / third / third;
    font-size: xx-large;
    font-weight: bold;
    justify-self: end;
    margin: 10px;
}

#addListItemButton {
    grid-area: first / second / second / third;
    max-width: 30px;
    min-width: 20px;
    justify-self: end;
    max-height: 30px;
    min-height: 20px;
    margin: 10px;
}

#sideBarContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%;
    background-color: lightgoldenrodyellow;
    margin-top: var(--topMargin);
}

#searchBarContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    align-items: center;
    min-width: 100px;
    min-height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
}

#searchBarForm {
    width: 100%;
}

#searchBar {
    width: 98%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

#clearIcon {
    visibility: hidden;
}

#searchBarContainer:focus-within #clearIcon { 
    /* Note: replace this css rule with JS to detect form typed input, then show the clear icon/button */
    visibility: visible;
}

#searchBarContainer:focus-within {
    box-shadow: 0 0 5px 1px cyan;
}


#sideBarToggles {
    margin-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: [first] 1fr [second] 1fr [third];
    grid-template-rows: [first] 1fr [second] 1fr [third];
    --subItemMargin: 10px;
}

.sideBarToggle{
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: [first] 1fr [second] 1fr [third];
    grid-template-columns: [first] 25% [second] 1fr [third];
}

.toggleIcon {
    grid-row: first / second;
    grid-column: first / second;
    margin: var(--subItemMargin);
    width: 25px;
}

.toggleCount {
    grid-row: first / second;
    grid-column: second / third;
    justify-self: end;
    margin: var(--subItemMargin)
}

.toggleTitle {
    grid-row: second / third;
    grid-column: first / third;
    margin: var(--subItemMargin);
    font-weight: bold;
    font-size: larger;
}

#listsContainer {
    margin: 20px 10px 10px 10px;
}

.sideBarList {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
}

.listName {
    margin-left: 5px;
}

.listCount {
    margin-left: auto;
}

#addListButton {
    margin-top: auto;
}

#userContentContainer {
    flex-grow: 2;
    margin: 0 auto;
    width: 70%;
    background-color: lightyellow;
    margin-top: var(--topMargin);
}

#LowerAddTask {
    width: 100%;
}

#userContentContainer > li, #userContentContainer > div {
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 10px;

}

#userContentContainer > li {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-left: 15px;
    width: 25;
}

.taskDescription {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taskDueDate {
    margin-left: auto;
}

.editTaskIcon {
    margin-left: 15px;
}

.deleteTaskIcon {
    margin-left: 10px;
    margin-right: 15px;
}

#newTaskContainer {
    display: flex;
    align-items: center;
    min-height: 30px;
}

#newTaskContainer > .checkbox {
    align-self: flex-start;
    margin-top: 10px;
}

#newTaskContainer > div {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightyellow;
}

#newTaskContainer > div > input {
    grid-row: first / second;
    grid-column: first / sixth;
    background-color: lightyellow;
    font-size: medium;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border: 0;
    outline: none;
}

#newTaskContainer > div > div {
    display: flex;
    align-items: baseline;
}

#newTaskContainer > div > div > button, #newTaskContainer > div > div > input {
    height: 25px;
    margin-right: 8px;
    border-radius: 4px;
    border: 0;
    background-color: lightgray;
}

#dateInput {
    width: 80px;
    text-align: center;
    height: 25px;
    padding: 0;
}

.date::placeholder {
    color:black;
    text-align: center;
}

#newTaskContainer > div > div > .flag {
    background: url("./img/flag.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 2px;
    background-color: lightgray;
}

#newItemSubmit {
    align-self: flex-end;
    margin: 0 auto;
    background-image: url("./img/check-circle.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 10px;
    width: 50px;
    height: auto;
    position: relative;
    bottom: 2px;
}

#newItemAbort {
    background-image: url("./img/x-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 50px;
    padding: 10px;
    height: auto;
    position: relative;
    bottom: 2px;
}