html {
    height: 100%;
}

body {
    color: white;
    height: 100%;
    margin: 0;
}

#mainContent {
    display: grid;
    grid-template-columns: [first] 200px [second] 1fr [third];
    grid-template-rows: [first] 100px [second] 1fr [third];
    height: 100%;
}

#overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ******************** Top Bar Panel ******************** */

#topBar {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: first;
    grid-row-end: second;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
}

#listHeader {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

#addNewItemButton {
    align-self: flex-end;
    margin-right: 2%;
    margin-top: 2%;
}

/* ************************************************** */

/* ******************** Side Panel ******************** */

#sidePanel {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: first;
    grid-row-end: third;
    background-color: rgb(102, 102, 102);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideBarList {
    display: grid;
    grid-template-columns: [first] 20% [second] 1fr [third] 10% [fourth];
    margin-top: 2%;
    margin-bottom: 2%;
}

.sideBarColorIcon {
    height: 20px;
    width: 20px;
    grid-column-start: first;
    grid-column-end: second;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
}

.sideBarListName {
    grid-column-start: second;
    grid-column-end: third;
    margin-left: 2%;
    margin-right: 2%;
}

.sideBarListItemsCount {
    grid-column-start: third;
    grid-column-end: fourth;
    margin-left: 2%;
    margin-right: 2%;
}

/* ************************************************** */

/* ******************** Content Window - List Viewer ******************** */


#contentWindow {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: second;
    grid-row-end: third;
    background-color: rgb(41, 41, 41);
}

/* ************************************************** */



/* ******************** List Item Module ******************** */

.itemModule {
    display: grid;
    grid-template-columns: [first] 10% [second] 25% [third] 25% [fourth] 10% [fifth] 1fr [sixth] 10% [seventh] 10% [eighth];
    margin: 2%;
    border: 1px solid white;
    font-size: large;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid black;
    min-height: 30px;
    min-width: 600px;
}

.itemModuleCheckBox {
    grid-column-start: first;
    grid-column-end: second;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 2%;
}

.itemModuleTitle {
    grid-column-start: second;
    grid-column-end: third;
    color: black;
}

.itemModuleDueDate {
    grid-column-start: third;
    grid-column-end: fourth;
    color: grey;
}

.itemModulePriority {
    grid-column-start: fourth;
    grid-column-end: fifth;
    color: green;
}

.itemModuleEditButton {
    grid-column-start: sixth;
    grid-column-end: seventh;
    justify-self: center;
    color: blue;
}

.itemModuleDeleteButton {
    grid-column-start: seventh;
    grid-column-end: eighth;
    justify-self: center;
    color: red;
}

.activeItemModule, .itemModule:hover {
    background-color: grey;
}

/* Completed Item Module */

.itemModule.complete {
    background-color: orange;
}

/* ************************************************** */

/* ******************** Expanded Pop Up List Item ******************** */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: beige;
    width: 500px;
    max-width: 80%;
    color: black;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
    
}


/* ************************************************** */