html {
    height: 100%;
}

body {
    color: white;
    height: 100%;
    margin: 0;
}

#mainContent {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

#sidePanel {
    background-color: rgb(102, 102, 102);
    height: 100%;
}

#contentWindow {
    background-color: rgb(41, 41, 41);
}