@import '~js-datepicker/dist/datepicker.min.css';

:root {
    --topMargin: 40px;
    --taskColor: #F1FAEE;
    --contentWindowBackground: #A8DADC;
    --sideBarToggleColor: #457B9D;
    --sideBarColor: #1D3557;
    --taskFormButtonColor: #EFD5C3;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 1300px) {
    #projectContainer {
        display: grid;
        grid-template-columns: [first] 20% [second] 80% [third];
        grid-template-rows: [first] 100px [second] 1fr [third];
        height: 100vh;
        width: 100vw;
    }

    #topBar {
        grid-column: second / third;
        grid-row: first / second;
        background-color: var(--contentWindowBackground);
        min-height: 100px;
        display: grid;
        grid-template-columns: [first] 1fr [second] 1fr [third];
        grid-template-rows: [first] 1fr [second] 1fr [third];
    }

    #expandMenu {
        display: none;
    }

    #closeSideBarButton {
        display: none;
    }

    #sideBar {
        grid-column: first / second;
        grid-row: first / third;
        background-color: var(--sideBarColor);
        display: flex;
        flex-direction: column;
    }

    #sideBarContentContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        justify-content: flex-start;
        margin: 0 auto;
        width: 90%;
        margin-top: var(--topMargin);
    }

    #displaySection {
        grid-column: second / third;
        grid-row: second / third;
        min-height: 100%;
        background-color: var(--contentWindowBackground);
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #userContentContainer {
        width: 70%;
    }
}

@media screen and (max-width: 1299px) {
    #projectContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: [first] 100px [second] 1fr [third];
        height: 100vh;
        width: 100vw;
    }

    #expandMenu {
        grid-row: first / second;
        grid-column: first / second;
    }
    
    #topBar {
        grid-row: first / second;
        background-color: var(--contentWindowBackground);
        min-height: 10vh;
        display: grid;
        grid-template-columns: [first] 2fr [second] 1fr [third];
        grid-template-rows: [first] 1fr [second] 1fr [third];
    }
    
    #sideBar {
        
        height: 100%;
        width: 0px;
        position: fixed; 
        z-index: 1; 
        top: 0;
        left: 0;
        background-color: var(--sideBarColor);
    }

    #sideBarContentContainer {

        display: flex;
        flex-direction: column;
        flex-grow: 2;
        justify-content: flex-start;
        margin: 0 auto;
        width: 90%;
        margin-top: 5%;
    }

        #displaySection {
        grid-row: second / third;
        min-height: 100%;
        background-color: var(--contentWindowBackground);
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

        #userContentContainer {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    #userContentContainer {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .task {
        display: grid;
        grid-template-columns: [first] 5% [second] 35% [third] 25% [fourth] 10% [fifth] 10% [sixth] 7.5% [seventh] 7.5% [eighth];
        justify-items: center;
        align-items: center;
        background-color: var(--taskColor);
        min-width: 0;
    }

    .taskDescription {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        min-width: 0;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    .taskDueDate {
        grid-column: fourth / fifth;
    }

    .taskFlagIcon {
        grid-column: fifth / sixth;
}

    .editTaskIcon {
        grid-column: sixth / seventh;
    }

    .deleteTaskIcon {
        grid-column: seventh / eighth;
    }
}

@media screen and (min-width: 700px) {
    .task {
        display: grid;
        grid-template-columns: [first] 5% [second] 70% [third] 10% [fourth] 5% [fifth] 5% [sixth] 5% [seventh];
        justify-items: center;
        align-items: center;
        background-color: var(--taskColor);
    }
}

#expandMenu {
    margin: 2% 0 0 2%;
}

#expandMenu > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#listTitle {
    grid-row: second / third;
    grid-column: first / second;
    font-size: xx-large;
    font-weight: bold;
    margin: 10px;
}

#topBarListCount {
    grid-area: second / second / third / third;
    font-weight: bold;
    justify-self: end;
    margin: 10px;
}

#higherAddTask {
    grid-area: first / second / second / third;
    max-width: 30px;
    min-width: 20px;
    justify-self: end;
    max-height: 30px;
    min-height: 20px;
    margin: 10px;
}

.sideBarOpen {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex - start;
    margin: 0 auto;
    width: 90%;
    margin-top: 5%;
}

.sideBarClosed {
    display: none;
}

#closeMenu {
    display: flex;
    justify-content: flex-end;
}

#closeSideBarButton {
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 0%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(106%) contrast(101%);
    width: 10%;
}

#sideBarContentContainer {
    overflow: hidden;
}

#searchBarContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    align-items: center;
    min-width: 100px;
    min-height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(92,95,93);
    overflow: hidden;
    background-color: var(--taskColor)
}

#searchBarForm {
    width: 100%;
    color: var(--sideBarColor);
}

#searchBar {
    width: 98%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background-color: var(--taskColor);
    color: var(--sideBarColor);
}

#searchBar::placeholder {
    color: var(--sideBarColor);
}

#clearIcon {
    visibility: hidden;
}

#searchBarContainer:focus-within {
    box-shadow: 0 0 5px 1px cyan;
}


#sideBarToggles {
    margin-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: [first] 1fr [second] 1fr [third];
    grid-template-rows: [first] 1fr [second] 1fr [third];
    --subItemMargin: 10px;
}

.sideBarToggle{
    /* border: 1px solid black; */
    background-color: var(--sideBarToggleColor);
    border-radius: 15px;
    display: grid;
    grid-template-rows: [first] 1fr [second] 1fr [third];
    grid-template-columns: [first] 25% [second] 1fr [third];
}

.toggleIcon {
    grid-row: first / second;
    grid-column: first / second;
    margin: var(--subItemMargin);
    width: 25px;
}

.toggleCount {
    grid-row: first / second;
    grid-column: second / third;
    justify-self: end;
    margin: var(--subItemMargin)
}

.toggleTitle {
    grid-row: second / third;
    grid-column: first / third;
    margin: var(--subItemMargin);
    font-weight: bold;
    font-size: larger;
}

.scheduledToggleActive {
    background-color: #F5A3CB;
}

.flaggedToggleActive {
    background-color: #EFBC9B;
}

.allToggleActive {
    background-color: #898DD1;
}

.todayToggleActive {
    background-color: lightgreen;
}

#todayToggle > .toggleTitle {
    color: rgb(86,207,48);
}

#scheduledToggle > .toggleTitle {
    color: #E63946;
}

#flaggedToggle > .toggleTitle {
    color: rgb(255,149,12);
}

#allToggle > .toggleTitle {
    color: #53131E;
}

.sideBarWhiteInfo {
    filter: invert(97%) sepia(38%) saturate(0%) hue-rotate(211deg) brightness(116%) contrast(100%);
}

#listsContainer {
    margin: 20px 10px 10px 10px;
    color: var(--taskColor);
    overflow: scroll;
}

.sideBarList {
    display: grid;
    width: 100%;
    grid-template-columns: [first] 15% [second] 50% [third] 10% [fourth] 12.5% [fifth] 12.5% [sixth];
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.listPointer {
    grid-column: first / second;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 5px;
    background-color: white;
}

.listName {
    grid-column: second / third;
    margin-left: 5px;
}

.listCount {
    grid-column: third / fourth;
    justify-self: center;
}

.editListIcon {
    grid-column: fourth / fifth;
}

.deleteListIcon {
    grid-column: fifth / sixth;
}

.listIcon {
    filter: invert(99%) sepia(1%) saturate(282%) hue-rotate(107deg) brightness(114%) contrast(100%);
    justify-self: center;
}

#addListButton {

    margin-top: auto;
    background-color: var(--taskColor);
    border-radius: 15px;
    color: var(--sideBarColor);
    border: none;
    padding: 5px;
    font-size: large;
    margin-bottom: 10px;
}

#newListContainer {
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
}

#newListForm {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#newListTitleAndColor {
    display: grid;
    grid-template-columns: [first] 70% [second] 10% [third] 20% [fourth];
    justify-items: center;
    margin: 0.5rem;
    max-height: 20px;
}

#newListSubmitAndAbort {
    display: grid;
    grid-template-columns: [first] 45% [second] 10% [third] 45% [fourth];
    justify-items: center;
    margin: 0.5rem;
}

#newListTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1.5rem;
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid black; */
    overflow: hidden;
    background-color: var(--taskColor);
    outline: none;
    margin: 0.3rem;
    max-height: 20px;
    background-color: var(--taskColor);
}

#newListColor {
    grid-column: third / fourth;
    margin: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--taskColor);
    color: none;
    overflow: visible;
    width: fit-content;
    height: 1.5rem;
    padding: 0.3rem;
}

.colorPickerHolder {
    position: absolute;
    z-index: 10;
}

#colorButtonHolder {
    display: flex;
    justify-content: center;
}

#colorButtonHolder > button {
    width: 100%;
    border-radius: 10px;
    margin: 0.3rem;
}

#newListAbort {
    grid-column: third / fourth;
    min-height: 1.5rem;
}

#newListSubmit {
    min-height: 1.5rem;
}

.inputListTitle {
    margin-left: 10px;
    padding: 0;
    border: 0;
    outline: none;
    background-color: var(--taskColor);
}

#newListTitleContainer:focus-within {
    box-shadow: 0 0 5px 1px cyan;
}

.listSubmitButton {
    background-image: url("./img/check-circle.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.listAbortButton {
    background-image: url("./img/x-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.listButton {
    width: 100%;
    margin: 0.3rem;
    padding: 10px;
    position: relative;
    border: 0;
    border-radius: 10px;
}

/* LIST EDIT FORM */
#editListContainer {
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
}

#editListForm {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#editListTitleAndColor {
    display: grid;
    grid-template-columns: [first] 70% [second] 10% [third] 20% [fourth];
    justify-items: center;
    margin: 0.5rem;
    max-height: 20px;
}

#editListTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1.5rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--taskColor);
    outline: none;
    margin: 0.3rem;
    max-height: 20px;
    background-color: var(--taskColor);
}

#editListTitleAndColor {
    display: grid;
    grid-template-columns: [first] 70% [second] 10% [third] 20% [fourth];
    justify-items: center;
    margin: 0.5rem;
    max-height: 20px;
}

#editListColor {
    grid-column: third / fourth;
    margin: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--taskColor);
    color: none;
    overflow: visible;
    width: fit-content;
    height: 1.5rem;
    padding: 0.3rem;
}

#editColorPickerHolder {
    position: absolute;
}

#editListSubmitAndAbort {
    display: grid;
    grid-template-columns: [first] 45% [second] 10% [third] 45% [fourth];
    justify-items: center;
    margin: 0.5rem;
}

#editListAbort {
    grid-column: third / fourth;
    min-height: 1.5rem;
}

#editListSubmit {
    min-height: 1.5rem;
}

/* USER CONTENT CONTAINER */

#userContentContainer {
    flex-grow: 2;
    margin: 0 auto;
    /* width: 70%; */
    margin-top: var(--topMargin);
}

#userContentContainer > li, #userContentContainer > div {
    /* border: 1px solid grey; */
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: var(--taskColor);
}

/* .task {
    display: grid;
    grid-template-columns: [first] 5% [second] 70% [third] 10% [fourth] 5% [fifth] 5% [sixth] 5% [seventh];
    justify-items: center;
    align-items: center;
    background-color: var(--taskColor);
} */

.checkbox {
    grid-column: first / second;
}

.taskDescription {
    grid-column: second / third;
    justify-self: start;
    width: 100%;
}

.taskDueDate {
    grid-column: third / fourth;
}

.taskFlagIcon {
    grid-column: fourth / fifth;
}

.flagNodeHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5%;
}

.editTaskIcon {
    grid-column: fifth / sixth;
}

.deleteTaskIcon {
    grid-column: sixth / seventh;
}

#lowerAddTask {
    width: 100%;
    display: none;
    align-items: center;
}

.checkbox {
    margin-left: 15px;
    width: 25;
}

.taskDescription {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.taskDueDate {
    margin-left: auto;
    margin-right: 5px;
}

.editTaskIcon {
    margin-left: 15px;
}

.deleteTaskIcon {
    margin-left: 10px;
    margin-right: 15px;
}

.whiteColouringForDarkBackground {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(35deg) brightness(107%) contrast(101%);
}

.taskInputContainer {
    display: none;
    align-items: center;
    min-height: 30px;
}

.taskInputContainer > .checkbox {
    align-self: flex-start;
    margin-top: 10px;
    background-color: var(--taskColor);
}

.inputItemTitle {
    background-color: var(--taskColor);
}

.taskInputContainer > div {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.taskInputContainer > div > form > input {
    grid-row: first / second;
    grid-column: first / sixth;
    font-size: medium;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border: 0;
    outline: none;
}

.taskInputContainer > div > form > div {
    display: flex;
    align-items: baseline;
}

.taskInputContainer > div > form > div > button, .taskInputContainer > div > form > div > input {
    height: 25px;
    margin-right: 8px;
    border-radius: 4px;
    border: 0;
}

.taskInputForm {
    border: none;
}

.formInput:focus {
    outline: none;
}

.formInput {
    background-color: var(--taskFormButtonColor);
}

.dateCheckBox {
    position: relative;
    top: 6px;
}

.date {
    width: 80px;
    text-align: center;
    height: 25px;
    padding: 0;
}

.date::placeholder {
    color:black;
    text-align: center;
}

.dateChosen {
    background-color: yellow;
}

.flagButton {
    background: url("./img/flag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--taskFormButtonColor);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 2px;
}

.flagActive {
    background-color: orange;
}

.submitButton {
    align-self: flex-end;
    margin: 0 auto;
    background-image: url("./img/check-circle.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 10px;
    width: 50px;
    height: auto;
    position: relative;
    bottom: 2px;
}

.abortButton {
    background-image: url("./img/x-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 50px;
    padding: 10px;
    height: auto;
    position: relative;
    bottom: 2px;
}